html {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #080957;
    width: 100%;
    max-width: 200rem;
 }

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 0 0 2px 4px #A0A3FF;
    width: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}