@font-face {
    font-family: AlteHaas;
    src: url(../../font/AlteHaasGroteskBold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: AlteHaas;
    src: url(../../font/AlteHaasGroteskRegular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Akira;
    src: url(../../font/Akira_Expanded_Demo.otf);
}