.stack {
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer__image, .layer__video {
    object-fit: cover;
    object-position: top;
}

.layer__centered-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}