.stack {
    position: relative;
    width: auto;
    aspect-ratio: 16/9;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: inherit;
}

.layer__image, .layer__video {
    border-radius: inherit;
    object-fit: cover;
}

.layer__text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}