.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #08142c;
    padding: 20px 20px 5px 20px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    align-self: center;
}

.footer__content>* {
    margin-bottom: 15px;
}

.footer__section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.image-section {
    order: 3;
}

.footer__section-title {
    font-size: var(--text-xl);
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    font-family: var(--font-body);
}

.footer__section-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__section-link-item {
    text-align: center;
    display: block;
    margin: var(--space-5) 0;
}

.footer__section-link {
    font-size: var(--text-lg);
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    color: #6286bf;
    font-weight: 800;
    font-family: var(--font-body);
}

.outer-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.footer__section-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #6286bf;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.footer__section-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.footer__image {
    width: 160px;
    height: 160px;
}

.footer__homelink {
    text-decoration: none;
    color: #193e81;
    font-size: var(--text-2xl);
    transition: .3s ease-in-out;
    font-family: var(--font-body);
}

.footer__homelink:hover {
    color: #1979da;
}

@media only screen and (min-width: 800px) {
    .image-section {
        order: unset;
    }

    .footer__content {
        flex-direction: row;
    }

    .footer__section {
        align-items: start;
    }

    .footer__section-link {
        font-size: var(--text-xl);
    }

    .footer__section-title {
        font-size: var(--text-4xl);
    }

    .footer__section-link-item {
        text-align: left;
    }
}