.pagination-bar {
    display: flex;
    justify-content: center;
    margin: 20px 8px;
}

.pagination-bar-no-result {
    display: flex;
    align-items: center;
    align-self: center;
    width: fit-content;
    font-family: AlteHaas, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 20px 8px;
}

.pagination-bar>* {
    display: flex;
    margin: 3px 10px;
    outline: none;
    background-color: #0E1084;
    color: white;
    border: solid 2px #7577CD;
    font-family: var(--font-body);
    font-size: 24px;
    padding: 6px 12px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    min-height: var(--touch-target);
    min-width: var(--touch-target);
}

.pagination-bar__current {
    cursor: default;
    color: black;
    background-color: white;
}