.tag {
    display: flex;
    margin: var(--space-3);
    padding: 6px 6px;
    font-size: var(--text-sm-3);
    font-family: var(--font-body);
    font-weight: bold;
    color: white;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
}