.element-paragraph {
    font-size: var(--text-2xl);
    font-weight: normal;
    color: white;
    font-family: var(--font-body);
    margin: var(--space-6);
    text-align: left;
}

.element-link {
    font-size: var(--text-3xl);
    font-weight: normal;
    text-decoration: underline;
    color: white;
    font-family: var(--font-body);
    margin: var(--space-6);
    text-align: left;
}

.element-quote {
    font-size: var(--text-3xl);
    font-weight: normal;
    color: white;
    font-family: var(--font-body);
    margin: var(--space-6);
    text-align: left;
}

.element-title {
    font-size: var(--text-4xl);
    font-weight: bold;
    color: white;
    font-family: var(--font-body);
    margin: var(--space-6);
    text-align: left;
}

.element-video-wrapper, .element-picture-wrapper {
    display: flex;
    margin: var(--space-6) 0;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.element-video, .element-picture {
    display: flex;
    width: auto;
    aspect-ratio: 16/9;
    height: auto;
}

.element-video-legend, .element-picture-legend {
    font-size: var(--text-xl);
    font-weight: bold;
    color: white;
    font-family: var(--font-body);
    padding: var(--space-2);
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}