.element-paragraph {
    font-size: 24px;
    font-weight: normal;
    color: white;
    font-family: AlteHaas, sans-serif;
    margin: 10px;
    text-align: left;
}

.element-link {
    font-size: 28px;
    font-weight: normal;
    text-decoration: underline;
    color: white;
    font-family: AlteHaas, sans-serif;
    margin: 10px;
    text-align: left;
}

.element-quote {
    font-size: 28px;
    font-weight: normal;
    color: white;
    font-family: AlteHaas, sans-serif;
    margin: 10px;
    text-align: left;
}

.element-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    font-family: AlteHaas, sans-serif;
    margin: 10px;
    text-align: left;
}

.element-video-wrapper, .element-picture-wrapper {
    display: flex;
    margin: 10px 0;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.element-video, .element-picture {
    display: flex;
    width: auto;
    aspect-ratio: 16/9;
    height: auto;
}

.element-video-legend, .element-picture-legend {
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: AltHaas, sans-serif;
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}