.article-illustration-text {
    font-size: var(--text-4xl);
    color: white;
    text-align: center;
    font-family: var(--font-body);
    font-weight: bold;
}

.article-illustration-reading-time-wrapper {
    display: flex;
    justify-content: end;
    align-items: end;
}

.article-illustration-reading-time {
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: var(--text-base);
    font-family: var(--font-body);
    color: white;
    padding: var(--space-5);
    margin: var(--space-2);
}

.article-content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-self: center;
    width: 100%;
    padding: 15px 5px;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    .article-illustration-text {
        font-size: var(--text-6xl-3);
    }
}