.result-list-filter {
    align-self: center;
}

.create-filter-button {
    background-color: #199e05;
    color: white;
    width: fit-content;
    box-sizing: border-box;
    padding: var(--space-12);
    align-self: center;
    margin: var(--space-9) 0;
    font-family: var(--font-body);
    font-weight: bold;
    font-size: var(--text-4xl);
    text-decoration: none;
    border-radius: 15px;
    transition: 0.3s;
}

.create-filter-button:hover {
    background-color: #116c04;
}

.filter-usage-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-usage-title {
    color: white;
    font-weight: bold;
    font-size: var(--text-4xl);
    justify-content: center;
    display: flex;
    font-family: var(--font-body);
}