.terms-of-use p {
    font-size: var(--text-xl);
    font-family: var(--font-body);
    font-style: normal;
    color: white;
}

.terms-of-use h1 {
    font-size: var(--text-4xl);
    font-family: var(--font-body);
    font-style: normal;
    color: white;
}

.terms-of-use h2 {
    font-size: var(--text-3xl);
    font-family: var(--font-body);
    font-style: normal;
    color: white;
}

.terms-of-use h3 {
    font-size: var(--text-2xl);
    font-family: var(--font-body);
    font-style: normal;
    color: white;
}

.terms-of-use p a {
    font-size: var(--text-xl);
    font-family: var(--font-body);
    font-style: normal;
    color: white;
}

.terms-of-use {
    padding: var(--space-12);
}