.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-text>* {
    color: white;
    font-family: var(--font-body);
    font-size: var(--text-2xl);
    font-weight: bold;
    text-align: center;
    max-width: 1000px;
    margin: var(--space-6);
    width: calc(100% - 20px);
}

.help-paragraph {
    font-size: var(--text-xl);
    font-family: var(--font-body);
    color: white;
    margin: 0;
}

.help-paragraph a {
    color: white;
}