.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-text>* {
    color: white;
    font-family: AlteHaas, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    max-width: 1000px;
    margin: 10px;
    width: calc(100% - 20px);
}

.help-paragraph {
    font-size: 20px;
    font-family: AlteHaas, sans-serif;
    color: white;
    margin: 0;
}

.help-paragraph a {
    color: white;
}