.notfound-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 20px;
}

.notfound-illustration {
    display: flex;
    max-width: 1000px;
}

.top-filler {
    width: 100%;
    height: 80px;
    background-color: #080957;
}

.notfound-title {
    font-size: var(--text-3xl-2);
    color: white;
    font-weight: bold;
    font-family: Altone, sans-serif;
    text-align: center;
}

.notfound-homelink {
    font-size: var(--text-2xl);
    font-weight: normal;
    color: white;
    text-decoration: underline;
    font-family: var(--font-body);
}