.login-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--space-12);
    box-sizing: border-box;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E1084;
    box-shadow: 2px 2px 3px #7577CD;
    border-radius: 20px;
    max-width: 600px;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
}

.login-form h1 {
    text-align: center;
    font-size: var(--text-xl);
    color: white;
    margin: 10px 0 25px 0;
    font-family: var(--font-body);
    font-weight: bold;
}

.code-inputs {
    display: flex;
    align-items: center;
    margin: var(--space-6) 0;
}

.error {
    border-color: red;
}

.normal {
    border-color: #7577CD;
}

.code-input {
    width: 32px;
    padding: var(--space-5);
    margin: 15px 3px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: var(--font-body);
    font-weight: bold;
    font-size: var(--text-xl-2);
    border-radius: 4px;
    outline: none;
}

#regenerate, .error-message {
    background-color: #0E1084;
    border: none;
    color: #a0a2f4;
    font-family: var(--font-body);
    font-size: var(--text-lg);
    cursor: pointer;
    font-weight: bold;
}

#regenerate:hover {
    text-decoration: underline;
}

#submit {
    width: fit-content;
    padding: 10px 30px;
    margin: var(--space-9);
    background-color: #A0A3FF;
    outline: none;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-weight: bold;
    font-size: var(--text-lg);
    border: none;
    border-radius: 30px;
    transition: 0.3s;
}

#submit:hover {
    background-color: #5A5AA3;
}

.disclaimer-text {
    max-width: 1000px;
    padding: var(--space-12);
}

.disclaimer-text p {
    color: white;
    font-weight: bold;
    font-size: var(--text-base);
    font-family: var(--font-body);
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .login-form {
        padding: 20px 40px;
    }

    .login-form h1 {
        font-size: var(--text-3xl-2);
    }

    .code-input {
        font-size: var(--text-2xl);
        width: 40px;
    }

    #submit {
        font-size: var(--text-2xl-2);
    }

    .disclaimer-text p {
        font-size: var(--text-2xl);
    }
}