.result-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: var(--space-5);
    box-sizing: border-box;
    align-items: center;
    overflow: scroll;
    scrollbar-color: #7577CD rgba(0,0,0,0);
    margin: 0 auto;
}

.result-list-article {
    align-self: center;
}

.result {
    cursor: pointer;
    text-decoration: none;
}

.editor-tag-result, .editor-category-result, .editor-article-result {
    display: flex;
    padding: var(--space-6);
    flex-direction: column;
    box-sizing: border-box;
    border: solid 3px;
    width: 100%;
    border-radius: 15px;
    margin: var(--space-6) 0;
    justify-content: space-between;
}

.editor-tag-result__label, .editor-category-result__label, .editor-article-result__title {
    font-family: var(--font-body);
    font-weight: bold;
    font-size: var(--text-4xl);
    color: white;
    text-align: center;
    margin: 0;
}

.editor-tag-result__use-count, .editor-category-result__use-count, .editor-article-result__reading-time {
    font-family: var(--font-body);
    font-weight: bold;
    font-size: var(--text-3xl);
    color: white;
    align-self: center;
    display: flex;
    padding: var(--space-4);
    border-radius: 12px;
    margin: 0;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .editor-tag-result, .editor-category-result, .editor-article-result {
        flex-direction: row;
    }
}